.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.51);
    border-bottom: 1px solid rgba(128, 128, 128, 0.51);
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}
