.app_dark_theme {
    --bg-color: #202124;
    --inverted-bg-color: #fff;
    --primary-color: #ffffff;
    --secondary-color: #049604;
    /*--inverted-primary-color: #0232c2;*/
    /*--inverted-secondary-color: #0752ff;*/
}
