:root {
    --bg-color: #fff;
    --inverted-bg-color: #202124;
    --primary-color: #202124;
    --secondary-color: #ffffff;
    --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #cccccc;
}
