.ExtraBar {
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    line-height: 0;
    gap: 25px;
    padding:10px;
    position: relative;
    bottom: 0;
}

.uploadPhoto {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
